.app{
  width:1200px;
}

.title{
  text-align:center;
}

.main{
  max-width:100%;
  display:flex;
}
.textarea{
  width:50%;
  height:100%;
  background-color:white;
}
.preview{
  width:50%;
  height:100%;
  background-color:#f0f8ff;
}
